# SQL and SQLite

In [1]:
import sqlite3

In [2]:
## Connect to SQLite database
connection = sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [8]:
## Create a Table
cursor.execute('''
    Create Table If Not Exists employees(
        id Integer Primary Key,
        name Text Not Null,
        department Text,
        age Integer
        )
''')

## Commit the changes
connection.commit()

In [9]:
cursor.execute('''
select * from employees
''')

In [11]:
## Insert Data into Table
cursor.execute('''
    Insert Into employees(name, age, department)
    values('Kashyap', 24, 'Data Scientist')
''')
cursor.execute('''
    Insert Into employees(name, age, department)
    values('Bob', 24, 'Engineer')
''')
cursor.execute('''
    Insert Into employees(name, age, department)
    values('Kevin', 32, 'Data Analyst')
''')
connection.commit()

In [13]:
## Query data from the table
cursor.execute('''
select * from employees
''')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Kashyap', 'Data Scientist', 24)
(2, 'Kashyap', 'Data Scientist', 24)
(3, 'Bob', 'Engineer', 24)
(4, 'Kevin', 'Data Analyst', 32)

In [14]:
## Update data in the table
cursor.execute('''
    update employees
    set age = 23
    where name = 'Kashyap'
''')
connection.commit()

In [15]:
cursor.execute('''
select * from employees
''')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Kashyap', 'Data Scientist', 23)
(2, 'Kashyap', 'Data Scientist', 23)
(3, 'Bob', 'Engineer', 24)
(4, 'Kevin', 'Data Analyst', 32)

In [16]:
## Delete data from the table
cursor.execute('''
    delete from employees
    where id = 2
''')
connection.commit()

In [17]:
cursor.execute('''
select * from employees
''')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Kashyap', 'Data Scientist', 23)
(3, 'Bob', 'Engineer', 24)
(4, 'Kevin', 'Data Analyst', 32)

In [ ]:
## Working with sales data 
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()
cursor.execute('''
create table if not exists sales(
    id Integer Primary Key,
    date Text Not Null,
    product Text Not Null,
    sales Integer,
    region Text
)
''')
connection.commit()

In [20]:
# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 150, 'South'),
    ('2023-01-03', 'Product1', 200, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-04', 'Product2', 300, 'North'),
]

cursor.executemany('''
insert into sales(date, product, sales, region)
values(?, ?, ?, ?)
''', sales_data)
connection.commit()

In [21]:
cursor.execute('select * from sales')
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 150, 'South')
(3, '2023-01-03', 'Product1', 200, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-04', 'Product2', 300, 'North')

In [ ]:
## Close the connection
connection.close()