# Handling Imbalance Dataset

1. Up Sampling
2. Down Sampling

In [1]:
import numpy as np
import pandas as pd

np.random.seed(123)

n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [4]:
n_class_0, n_class_1

(900, 100)

In [5]:
## Create dataframe with imbalance dataset
class_0 = pd.DataFrame({
    "feature_1": np.random.normal(loc=0, scale=1, size=n_class_0),
    "feature_2": np.random.normal(loc=0, scale=1, size=n_class_0),
    "target": [0] * n_class_0
})
class_1 = pd.DataFrame({
    "feature_1": np.random.normal(loc=0, scale=1, size=n_class_1),
    "feature_2": np.random.normal(loc=0, scale=1, size=n_class_1),
    "target": [1] * n_class_1
})

In [6]:
class_0.shape, class_1.shape

((900, 3), (100, 3))

In [7]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [8]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [9]:
df.tail()

     feature_1  feature_2  target
995  -0.623629   0.845701       1
996   0.239810  -1.119923       1
997  -0.868240  -0.359297       1
998   0.902006  -1.609695       1
999   0.697490   0.013570       1

In [10]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [11]:
## Upsampling
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [19]:
from sklearn.utils import resample
df_minority_upsampled = resample(df_minority,
                                replace=True,
                                n_samples=len(df_majority),
                                random_state=42)

In [20]:
df_minority_upsampled.shape

(900, 3)

In [21]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951  -0.874146  -0.156083       1
992   0.196570  -0.602575       1
914  -0.067830   0.998053       1
971   0.272825   1.034197       1
960   0.870056  -0.449515       1

In [23]:
df_upsampled = pd.concat([df_majority, df_minority_upsampled])
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [33]:
## Downsample
np.random.seed(123)

n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

class_0 = pd.DataFrame({
    "feature_1": np.random.normal(loc=0, scale=1, size=n_class_0),
    "feature_2": np.random.normal(loc=0, scale=1, size=n_class_0),
    "target": [0] * n_class_0
})
class_1 = pd.DataFrame({
    "feature_1": np.random.normal(loc=2, scale=1, size=n_class_1),
    "feature_2": np.random.normal(loc=2, scale=1, size=n_class_1),
    "target": [1] * n_class_1
})

df = pd.concat([class_0, class_1]).reset_index(drop=True)
print(df['target'].value_counts())

target
0    900
1    100
Name: count, dtype: int64

In [34]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [35]:
from sklearn.utils import resample
df_majority_downsampled = resample(df_majority,
                                  replace=False,
                                  n_samples=len(df_minority),
                                  random_state=42)
df_majority_downsampled.head()

     feature_1  feature_2  target
70    0.468439   1.720920       0
827   1.089165  -0.464899       0
231   0.753869  -0.969798       0
588   0.588686  -0.704720       0
39    0.283627   1.012868       0

In [37]:
df_majority_downsampled.shape

(100, 3)

In [39]:
df_downsampled = pd.concat([df_minority, df_majority_downsampled])
df_downsampled['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64